{% block states %}
    <div class="section states">
        <div class="well well-lg">
            <p>
                Filter by state:
            </p>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('blog_index') }}">
                        Show all
                    </a>
                </li>
                {% for state in range(2, 4) %}
                    <li>
                        <a href="{{ path('blog_by_state', {'state': state}) }}">
                            {{ ('post.state.'~state)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
